<div class="container">
    <div class="top-section">
        <div class="logo-placeholder"></div>
        <div class="top-text-content">
            <div class="top-title">Recuperación Post Incendios</div>
            <div class="top-separator">Y</div>
            <div class="top-subtitle">Alternativas al Uso de Fuego</div>
        </div>
    </div>

    <div class="bottom-section">
        <div class="header">
            <div class="navigation">

                <button class="arrow" (click)="prevStep()" [disabled]="isPrevDisabled">&lt;</button>
                <span class="progress">{{ currentStep }}/{{ totalSteps }}</span>
                <button class="arrow" (click)="nextStep()" [disabled]="isNextDisabled">&gt;</button>
            </div>
            <h2 class="title">Fases del Trabajo</h2>
        </div>
        <div class="content">
            <div class="fasse">
                <div class="phase-indicator" [style.backgroundColor]="backgroundColor">
                    FASE
                </div>
                <span class="vector-indicator" [style.backgroundColor]="backgroundColor">
                    {{ currentLetter }}
                </span>
            </div>
            <div class="description">
                <div class="title-card">
                    {{ currentTextTitle }}
                </div>
                <div class="details-card">
                    {{ currentTextDescription }}
                </div>
            </div>

        </div>
    </div>
</div>