<div class="navbar-container">
    <img src="assets/Logotipo Incendio.png">
    <div class="decorador"></div>
    <ol>
        <li>
            <mat-icon class="menu" aria-hidden="false" fontIcon="list"></mat-icon>
        </li>
        <li>
            <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
            <a href="">INICIO</a>
        </li>
        <li>
            <mat-icon aria-hidden="false" fontIcon="groups"></mat-icon>
            <a href="">CONOCENOS</a>
        </li>
        <li> <mat-icon aria-hidden="false" fontIcon="co_present"></mat-icon>
            <a href="">TALLERES</a>
        </li>
        <li routerLink="manuales">
            <mat-icon aria-hidden="false" fontIcon="book_2"></mat-icon>
            <a>MANUALES</a>
        </li>
    </ol>
</div>